# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.venv
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS specific
.DS_Store

# Streamlit specific
.streamlit/
.secrets.toml

# Logs and database files
logs/
*.log
*.sqlite3
*.db

# Ignore VS Code settings
.vscode/

# Ignore Python package files
*.egg-info/
*.egg
dist/
build/

# Ignore cache
.cache/

